In [5]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import random

# Load & Filter Dataset

In [6]:
dataset = pd.read_csv('/content/CC GENERAL.xls')
dataset.head()

  CUST_ID      BALANCE  ...  PRC_FULL_PAYMENT  TENURE
0  C10001    40.900749  ...          0.000000      12
1  C10002  3202.467416  ...          0.222222      12
2  C10003  2495.148862  ...          0.000000      12
3  C10004  1666.670542  ...          0.000000      12
4  C10005   817.714335  ...          0.000000      12

[5 rows x 18 columns]

In [7]:
dataset.info()
#Some nan entries were found

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8950 entries, 0 to 8949
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CUST_ID                           8950 non-null   object
 1   BALANCE                           8950 non-null   float64
 2   BALANCE_FREQUENCY                 8950 non-null   float64
 3   PURCHASES                         8950 non-null   float64
 4   ONEOFF_PURCHASES                  8950 non-null   float64
 5   INSTALLMENTS_PURCHASES            8950 non-null   float64
 6   CASH_ADVANCE                      8950 non-null   float64
 7   PURCHASES_FREQUENCY               8950 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY        8950 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY  8950 non-null   float64
 10  CASH_ADVANCE_FREQUENCY            8950 non-null   float64
 11  CASH_ADVANCE_TRX                  8950 non-null   int64
 12  PURCHASES_TRX                     8950 non-null   int64
 13  CREDIT_LIMIT                      8949 non-null   float64
 14  PAYMENTS                          8950 non-null   float64
 15  MINIMUM_PAYMENTS                  8637 non-null   float64
 16  PRC_FULL_PAYMENT                  8950 non-null   float64
 17  TENURE                            8950 non-null   int64
dtypes: float64(14), int64(3), object(1)
memory usage: 1.2+ MB

In [10]:
#Remove Duplicates
dataset.drop_duplicates(inplace=True)
dataset.dropna(inplace=True)

In [13]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8636 entries, 0 to 8949
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CUST_ID                           8636 non-null   object
 1   BALANCE                           8636 non-null   float64
 2   BALANCE_FREQUENCY                 8636 non-null   float64
 3   PURCHASES                         8636 non-null   float64
 4   ONEOFF_PURCHASES                  8636 non-null   float64
 5   INSTALLMENTS_PURCHASES            8636 non-null   float64
 6   CASH_ADVANCE                      8636 non-null   float64
 7   PURCHASES_FREQUENCY               8636 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY        8636 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY  8636 non-null   float64
 10  CASH_ADVANCE_FREQUENCY            8636 non-null   float64
 11  CASH_ADVANCE_TRX                  8636 non-null   int64
 12  PURCHASES_TRX                     8636 non-null   int64
 13  CREDIT_LIMIT                      8636 non-null   float64
 14  PAYMENTS                          8636 non-null   float64
 15  MINIMUM_PAYMENTS                  8636 non-null   float64
 16  PRC_FULL_PAYMENT                  8636 non-null   float64
 17  TENURE                            8636 non-null   int64
dtypes: float64(14), int64(3), object(1)
memory usage: 1.3+ MB

In [12]:
dataset.describe()

            BALANCE  BALANCE_FREQUENCY  ...  PRC_FULL_PAYMENT       TENURE
count   8636.000000        8636.000000  ...       8636.000000  8636.000000
mean    1601.224893           0.895035  ...          0.159304    11.534391
std     2095.571300           0.207697  ...          0.296271     1.310984
min        0.000000           0.000000  ...          0.000000     6.000000
25%      148.095189           0.909091  ...          0.000000    12.000000
50%      916.855459           1.000000  ...          0.000000    12.000000
75%     2105.195853           1.000000  ...          0.166667    12.000000
max    19043.138560           1.000000  ...          1.000000    12.000000

[8 rows x 17 columns]

# Helper Functions

In [ ]:
def pairwise_distance(X,Y):
  '''
  Calculate the pair wise distance between each two points in X,Y 
  ''' 

  #Create adjacent matrix for distances
  distances = np.zeros(shape=(X.shape[0],Y.shape[0]))

  for i in X.shape[0]: 
    for j in Y.shape[0]:
      distances[i,j] = np.linalg.norm(X[i]-Y[j])

  return distances


#First step is to create nearest_neighbor_graph 
def nearest_neighbor_graph(X):
  
  if type(X).__module__ != np.__name__:
    X = np.array(X)

  n_neighbors = min(int(np.sqrt(X.shape[0])), 10)

  #Adjacent matrix of pairwise distances
  A = pairwise_distances(X, X)

  #sort distances
  sorted_distance = np.argsort(A, axis=1)

  nearest_neighbor_index = sorted_distance[:, 1:n_neighbors+1]

  #initialize an nxn zero matrix
  W = np.zeros(A.shape)

  #for each row, set the entries corresponding to n_neighbors to 1
  for row in range(W.shape[0]):
      W[row, nearest_neighbor_index[row]] = 1

  #make matrix symmetric by setting edge between two points if at least one point is in n nearest neighbors of the other
  for r in range(W.shape[0]):
      for c in range(W.shape[0]):
          if(W[r,c] == 1):
              W[c,r] = 1

  return W


def compute_laplacian(W):
  d = W.sum(axis=1)
  D = np.diag(d)
  L =  D - W
  return L

def get_eigvecs(L, k):

  eigvals, eigvecs = np.linalg.eig(L)
  
  # sort eigenvalues and select k smallest values - get their indices
  ix_sorted_eig = np.argsort(eigvals)[:k]

  #select k eigenvectors corresponding to k-smallest eigenvalues
  return eigvecs[:,ix_sorted_eig]